@font-face {
  font-family: "WebSymbolsRegular";
  src: url(..css/font/websymbols-regular-webfont.eot);
  src: url(../css/font/websymbols-regular-webfont.eot?#iefix) format("embedded-opentype"), url(../css/font/websymbols-regular-webfont.woff) format("woff"), url(../css/font/websymbols-regular-webfont.ttf) format("truetype"), url(../css/font/websymbols-regular-webfont.svg) format("svg");
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0px;
  font-family: "Lobster", cursive;
  font-size: 17px;
  color: blanchedalmond;
  list-style: none; }

body {
  background-image: url(../assets/img/background.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh; }

a {
  text-decoration: none !important; }

.disclaimer {
  display: none; }

.conteiner_servicios {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 120px calc(100% - 120px - 200px) 200px;
  grid-auto-flow: row;
  grid-template-areas: "header2 header2" "servicios_section_descripcion servicios_section_video" "footer2 footer2";
  width: 100%;
  min-height: 100vh; }

/*------------------------ HEADER ------------------------------ */
header {
  background-image: url(../assets/img/background_encabezado.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid black;
  box-shadow: 1px 3px 10px black;
  overflow: hidden; }
  header .header_logo {
    display: flex;
    justify-content: end; }
    header .header_logo .logo {
      height: 120px; }
      header .header_logo .logo img {
        height: 56px;
        width: 80px;
        animation-name: girarLogo;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        margin-left: auto;
        margin-right: auto;
        display: block; }

@keyframes girarLogo {
  from {
    transform: rotateZ(0deg); }
  to {
    transform: rotateZ(360deg); } }
      header .header_logo .logo p {
        display: block;
        text-align: center;
        font-size: 16px;
        margin: auto;
        text-shadow: 1px 2px 1px black; }
  header .menu {
    padding: 1% 0% 0% 2%; }
    header .menu .header_buscador_text {
      width: 50%;
      height: 30px;
      font-size: 17px;
      color: black; }
    header .menu .header_buscador_button {
      font-family: "WebSymbolsRegular";
      color: black;
      background-color: blanchedalmond;
      height: 30px;
      padding-top: 0px; }
  header .navbar-light .navbar-nav .nav-link {
    display: block;
    width: 100%;
    padding: 5px;
    text-align: left;
    transition: all 1s;
    color: blanchedalmond; }
    header .navbar-light .navbar-nav .nav-link:hover {
      transform: scale(1.2, 1.2);
      color: blanchedalmond; }
  header .nav_li {
    margin-right: 10px; }
  header .header_redes_icon {
    display: inline-block;
    border-radius: 10px;
    padding: 2px 3px 0px 10px;
    transition: all 1s; }
    header .header_redes_icon img {
      transition: all 1s; }
      header .header_redes_icon img:hover {
        transform: scale(1.4, 1.4); }

/*------------------------ MAIN ------------------------------ */
main .row {
  min-height: calc(100vh - 140px - 120px); }
  main .row .banner img {
    width: 100%;
    box-shadow: 1px 3px 10px black;
    margin-top: 1%; }
  main .row h1 {
    width: 100%;
    margin: 2% 0%;
    font-size: 70px;
    text-align: center;
    text-shadow: 3px 7px 15px black; }

/*------------------------ PRODUCTOS ------------------------------ */
.productos {
  padding: 1% 0.5%; }
  .productos .productos_item {
    border: 1px solid black;
    box-shadow: 1px 1px 2px black;
    overflow: hidden;
    height: 240px;
    padding: 0%; }
    .productos .productos_item .productos_item_imagen {
      display: block;
      width: 100%;
      height: 70%;
      border: 1px solid black;
      background-color: white; }
    .productos .productos_item .productos_item_texto {
      display: block;
      background-image: url(../assets/img/background.png);
      text-align: center;
      height: 30%;
      padding: 10px 0px;
      color: blanchedalmond; }
      .productos .productos_item .productos_item_texto:hover {
        color: blanchedalmond; }

/*------------------------ SERVICIOS ------------------------------ */
.header2 {
  grid-area: header2;
  display: flex; }
  .header2 .header_logo {
    width: 18%; }
    .header2 .header_logo .logo {
      width: 60%; }
    .header2 .header_logo p {
      padding-top: 6px;
      width: 65%; }
  .header2 .header_menu {
    width: 82%; }
    .header2 .header_menu .header_menu2 {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 50%; }
      .header2 .header_menu .header_menu2 .header_buscador {
        width: 50%; }
        .header2 .header_menu .header_menu2 .header_buscador form {
          width: 100%;
          height: 30px;
          margin-top: 15px; }
          .header2 .header_menu .header_menu2 .header_buscador form .header_buscador_text {
            width: 62%;
            height: 25px;
            border-radius: 5px;
            padding-left: 10px;
            color: black; }
          .header2 .header_menu .header_menu2 .header_buscador form .header_buscador_button {
            width: 10%;
            height: 30px;
            border-radius: 5px;
            margin-left: -4px;
            font-family: "WebSymbolsRegular";
            background-color: blanchedalmond;
            color: black; }
      .header2 .header_menu .header_menu2 .header_redes {
        width: 40%;
        display: flex;
        justify-content: end;
        padding: 1% 10% 0% 0%; }
    .header2 .header_menu .encabezado_nav {
      width: 100%;
      height: 50%; }
      .header2 .header_menu .encabezado_nav .encabezado_nav_items {
        display: flex;
        flex-direction: row;
        padding: 1% 0%; }
        .header2 .header_menu .encabezado_nav .encabezado_nav_items .encabezado_nav_items_boton {
          margin: 1px 8px; }

.servicios_section_descripcion {
  grid-area: servicios_section_descripcion; }
  .servicios_section_descripcion h2 {
    height: 10%;
    font-size: 40px;
    padding: 5% 5% 1% 20%;
    text-shadow: 3px 7px 15px black; }
  .servicios_section_descripcion p {
    padding: 1% 14% 10% 20%;
    text-align: justify; }

.servicios_section_video {
  grid-area: servicios_section_video;
  padding: 6% 5%; }
  .servicios_section_video iframe {
    width: 90%;
    height: 85%;
    box-shadow: 0px 10px 20px black; }

.footer2 {
  grid-area: footer2;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
  box-shadow: 1px -3px 5px black;
  background-image: url(../assets/img/background_encabezado.png);
  margin-top: 60px;
  margin-bottom: 0px !important;
  padding: 20px 50px; }
  .footer2 div {
    width: 25%;
    height: 90%;
    padding: 0% 1%; }
    .footer2 div p {
      text-align: center; }
    .footer2 div a img {
      align-content: center;
      width: 45px; }
  .footer2 .browsers, .footer2 .footer .row .footer_contacto, .footer .row .footer2 .footer_contacto, .footer2 #logo_lenguajes {
    display: flex;
    justify-content: center;
    padding: 0% 44%;
    width: 15%;
    height: 70%; }
  .footer2 .footer_contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: black;
    box-shadow: 1px 1px 10px black;
    border-radius: 10px;
    transition: all 1s;
    color: blanchedalmond; }
    .footer2 .footer_contacto:hover {
      background-color: blanchedalmond;
      color: red;
      font-size: 25px;
      text-shadow: 1px 2px 1px black; }
  .footer2 h5 {
    width: 100%;
    height: 30%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
    background-color: black;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: normal; }

/*------------------------ NOSOTROS ------------------------------ */
.nosotros h3 {
  font-size: 40px;
  margin-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  text-shadow: 3px 7px 15px black; }

.nosotros .nosotros_sobre-texto {
  padding: 1% 7%;
  text-align: justify; }

.nosotros .nosotros_sobre_imagen {
  padding: 1% 8% 2% 1%; }
  .nosotros .nosotros_sobre_imagen img {
    width: 100%;
    height: 100%;
    box-shadow: 0px 10px 20px black; }

.nosotros_donde_estamos P {
  text-align: justify;
  width: 500px;
  margin: 40px 50px 7px 100px;
  font-size: 23px; }

.nosotros_donde_estamos_mapa iframe {
  display: block;
  margin: 20px auto;
  box-shadow: 0px 10px 20px black; }

.nosotros_donde_estamos_dir {
  display: block;
  text-align: center;
  margin: 20px auto; }

/*------------------------ PREGUNTAS FRECUENTES------------------------------ */
.preguntas_frecuentes_titulo {
  margin: 20px auto;
  font-size: 40px; }

.preguntas_frecuentes h4 {
  font-weight: bold; }

.preguntas_frecuentes .preguntas_frecuentes_pregunta h4 {
  background-color: darkred;
  box-shadow: 1px 3px 15px black; }

.preguntas_frecuentes .preguntas_frecuentes_respuesta {
  margin-top: 5px;
  margin-left: 15px;
  margin-bottom: 15px; }

/*------------------------ CONTACTO ------------------------------ */
.contacto {
  display: flex;
  justify-content: center; }
  .contacto .contacto_formulario {
    width: 50%; }
    .contacto .contacto_formulario div {
      margin-top: 10px; }
      .contacto .contacto_formulario div label {
        display: block;
        font-size: 23px; }
      .contacto .contacto_formulario div input {
        width: 100%; }
      .contacto .contacto_formulario div textarea {
        width: 100%;
        height: 90px;
        color: black; }
      .contacto .contacto_formulario div [type="radio"] {
        width: 5%;
        height: 20px;
        margin-left: 20px; }
      .contacto .contacto_formulario div [for="gender"] {
        display: inline; }
    .contacto .contacto_formulario #checkbox input {
      width: 5%;
      height: 20px;
      margin-top: 6px;
      cursor: pointer; }
    .contacto .contacto_formulario [type="submit"] {
      color: black;
      width: 100%;
      height: 30px;
      margin-top: 6px;
      cursor: pointer; }

/*------------------------ FOOTER------------------------------ */
.footer {
  border: 1px solid black;
  box-shadow: 1px -3px 5px black;
  background-image: url(../assets/img/background_encabezado.png);
  margin-top: 60px;
  margin-bottom: 0px !important;
  padding: 20px 50px; }
  .footer .row div p {
    text-align: center; }
  .footer .row div a img {
    width: 45px; }
  .footer .row .browsers, .footer .row .footer_contacto, .footer .row #logo_lenguajes {
    display: flex;
    justify-content: center; }
  .footer .row h5 {
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
    background-color: black;
    margin-bottom: 10px; }
  .footer .row .footer_contacto {
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: black;
    box-shadow: 1px 1px 10px black;
    border-radius: 10px;
    transition: all 1s;
    color: blanchedalmond; }
    .footer .row .footer_contacto:hover {
      background-color: blanchedalmond;
      color: red;
      font-size: 25px;
      text-shadow: 1px 2px 1px black; }

/*----------------------------------- RESPONSIVE DESIGN-------------------------*/
@media screen and (min-width: 1001px) and (max-width: 1250px) {
  /* HEADER */
  .header_redes_icon {
    padding: 0px;
    transition: all 1s; }
  /*SERVICIOS*/
  .header2 .header_logo .logo {
    width: 90%; }
  .header2 .header_redes {
    padding: 1% 0% 0% 15%; }
  .servicios_section_descripcion p {
    font-size: 13px;
    padding: 1% 4% 10% 20%; }
  .servicios_section_video iframe {
    width: 100%;
    height: 70%; }
  /*NOSOTROS*/
  .nosotros_sobre-texto p {
    font-size: 15px; } }

@media screen and (min-width: 850px) and (max-width: 1000px) {
  /* HEADER */
  .header_logo {
    justify-content: center; }
    .header_logo .logo {
      width: 100%;
      margin-right: 0%; }
  .header_redes_icon {
    padding: 0px;
    transition: all 1s; }
    .header_redes_icon img {
      width: 40px; }
  /* Productos */
  .productos {
    padding: 1% 2.5%; }
  /*SERVICIOS*/
  .header2 .header_logo .logo {
    width: 99%; }
  .header2 .header_redes {
    padding: 1% 0% 0% 15%; }
  .servicios_section_descripcion p {
    font-size: 13px;
    padding: 1% 4% 10% 20%; }
  .servicios_section_video iframe {
    width: 100%;
    height: 70%; }
  .footer2 div h5 {
    font-size: 16px; }
  .footer2 div #logo_lenguajes img {
    height: 59%; }
  .footer2 div a img {
    width: 37px; }
  /*NOSOTROS*/
  .nosotros_sobre-texto p {
    font-size: 15px; }
  .nosotros_sobre_imagen {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1% 10% !important; }
    .nosotros_sobre_imagen img {
      box-shadow: 0px 10px 20px black; } }

@media screen and (min-width: 768px) and (max-width: 849px) {
  /* HEADER */
  .header_logo {
    justify-content: center; }
    .header_logo .logo {
      width: 100%;
      margin-right: 0%; }
  .header_nav_items_boton {
    font-size: 15px; }
  .header_redes_icon {
    padding: 0px;
    transition: all 1s; }
    .header_redes_icon img {
      width: 37px; }
  /* Productos */
  .productos {
    padding: 1% 2.5%; }
  /*SERVICIOS*/
  .header2 .header_logo .logo {
    width: 99%; }
  .header2 .header_redes {
    padding: 1% 0% 0% 15%; }
  .servicios_section_descripcion p {
    font-size: 13px;
    padding: 1% 4% 10% 20%; }
  .servicios_section_video iframe {
    width: 100%;
    height: 70%; }
  .footer2 div #logo_lenguajes img {
    height: 59%; }
  .footer2 div h5 {
    font-size: 16px; }
  .footer2 div a img {
    width: 37px; }
  /*NOSOTROS*/
  .nosotros_sobre-texto p {
    font-size: 15px; }
  .nosotros_sobre_imagen {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1% 10% !important; }
    .nosotros_sobre_imagen img {
      box-shadow: 0px 10px 20px black; }
  .nosotros_donde_estamos_mapa iframe {
    width: 90%; }
  /*Preguntas frecuentes*/
  .preguntas_frecuentes_titulo, .preguntas_frecuentes_pregunta,
  .preguntas_frecuentes_respuesta {
    text-align: center; }
  /*Footer*/
  .footer .row div {
    margin-top: 10px; } }

@media screen and (min-width: 576px) and (max-width: 767px) {
  /* HEADER */
  header .header_logo {
    justify-content: center;
    padding: 0px; }
    header .header_logo .logo {
      width: 100% !important;
      margin-right: 0%; }
      header .header_logo .logo img {
        height: 70px;
        width: 55%; }
      header .header_logo .logo p {
        font-size: 15px; }
  header .menu {
    padding: 1% 0% 0% 0%; }
    header .menu .header_buscador_text {
      width: 70%; }
    header .menu .header_redes_icon {
      padding: 0px;
      transition: all 1s; }
      header .menu .header_redes_icon img {
        width: 37px; }
    header .menu .navbar {
      display: flex;
      justify-content: end;
      width: 90%;
      height: 70%;
      margin-top: 10px; }
      header .menu .navbar .navbar-toggler {
        background-color: blanchedalmond; }
  header .navbar-light .navbar-nav .nav-link {
    display: flex;
    justify-content: end; }
  /*PRODUCTOS*/
  .productos {
    padding: 1% 2.5%; }
    .productos .productos_item {
      width: 50%;
      margin-right: auto;
      margin-left: auto; }
  /*SERVICIOS*/
  .conteiner_servicios {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 400px 300px 200px;
    grid-auto-flow: row;
    grid-template-areas: "header2" "servicios_section_descripcion" "servicios_section_video" "footer2";
    width: 100%;
    min-height: 100vh; }
  .header2 {
    grid-area: header2; }
    .header2 .header_logo {
      width: 20%;
      justify-content: center; }
      .header2 .header_logo .logo {
        width: 99%; }
      .header2 .header_logo p {
        padding-top: 7px;
        width: 100%; }
    .header2 .header_menu {
      width: 80%; }
      .header2 .header_menu .header_menu2 .header_buscador {
        width: 60%; }
        .header2 .header_menu .header_menu2 .header_buscador form .header_buscador_text {
          width: 70%; }
        .header2 .header_menu .header_menu2 .header_buscador form .header_buscador_button {
          width: 14%; }
      .header2 .header_menu .header_menu2 .header_redes {
        display: flex;
        justify-content: end;
        width: 50%;
        padding: 0%; }
        .header2 .header_menu .header_menu2 .header_redes a {
          padding: 0%; }
      .header2 .header_menu .encabezado_nav .encabezado_nav_items li .encabezado_nav_items_boton {
        font-size: 15px; }
  .servicios_section_descripcion {
    grid-area: servicios_section_descripcion; }
    .servicios_section_descripcion h2 {
      width: 100%;
      height: 60px;
      padding: 10px;
      margin-bottom: 0px;
      text-align: center; }
    .servicios_section_descripcion p {
      text-align: center;
      font-size: 100%;
      padding: 0% 10%; }
  .servicios_section_video {
    grid-area: servicios_section_video;
    display: flex;
    justify-content: center;
    height: 70%;
    padding: 5% 10%; }
    .servicios_section_video iframe {
      width: 80%;
      height: 240px; }
  .footer2 {
    grid-area: footer2;
    padding: 20px 15px; }
    .footer2 div #logo_lenguajes img {
      height: 40%; }
    .footer2 div h5 {
      font-size: 11px; }
    .footer2 div a img {
      width: 25px; }
    .footer2 div p {
      font-size: 11px; }
  /*NOSOTROS*/
  .nosotros_sobre_imagen {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1% 10% !important; }
    .nosotros_sobre_imagen img {
      box-shadow: 0px 10px 20px black; }
  .nosotros_donde_estamos_mapa iframe {
    width: 90%; }
  /*Preguntas frecuentes*/
  .preguntas_frecuentes ul {
    padding-left: 0px; }
  .preguntas_frecuentes_titulo, .preguntas_frecuentes_pregunta,
  .preguntas_frecuentes_respuesta {
    text-align: center; }
  /*CONTATO*/
  #checkbox input {
    width: 25px;
    height: 25px; } }

@media only screen and (max-width: 575px) {
  /* HEADER */
  .header_redes_icon {
    padding: 0px;
    transition: all 1s; }
    .header_redes_icon img {
      width: 30px; }
  .header_logo {
    justify-content: center;
    padding: 0px; }
    .header_logo p {
      font-size: 12px; }
    .header_logo img {
      height: 70px;
      width: 55%; }
    .header_logo .logo {
      width: 100% !important;
      margin-right: 0%; }
  .menu {
    padding: 1% 0% 0% 0%; }
    .menu .header_buscador_text {
      width: 70%; }
    .menu .header_redes_icon {
      padding: 0px;
      transition: all 1s; }
      .menu .header_redes_icon img {
        width: 100%; }
    .menu .navbar {
      display: flex;
      justify-content: end;
      width: 90%;
      height: 70%; }
      .menu .navbar .navbar-toggler {
        background-color: blanchedalmond; }
    .menu .navbar-light .navbar-nav .nav-link {
      display: flex;
      justify-content: end; }
  /*PRODUCTOS*/
  .productos {
    padding: 1% 2.5%; }
    .productos .productos_item {
      width: 60%;
      margin: 5% auto; }
      .productos .productos_item .productos_item_texto {
        font-size: 15px; }
  main h1 {
    font-size: 43px; }
  /*SERVICIOS*/
  .conteiner_servicios {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 350px 200px 200px;
    grid-auto-flow: row;
    grid-template-areas: "header2" "servicios_section_descripcion" "servicios_section_video" "footer2";
    width: 100%;
    min-height: 100vh; }
  .header2 {
    grid-area: header2; }
    .header2 .header_logo {
      width: 20%;
      justify-content: center; }
      .header2 .header_logo .logo {
        width: 99%;
        padding-top: 15px; }
        .header2 .header_logo .logo img {
          width: 50px;
          height: 40px; }
        .header2 .header_logo .logo p {
          padding-top: 7px;
          width: 100%;
          font-size: 10px; }
    .header2 .header_menu {
      width: 80%; }
      .header2 .header_menu .header_menu2 .header_buscador {
        width: 60%; }
        .header2 .header_menu .header_menu2 .header_buscador form .header_buscador_text {
          width: 70%; }
        .header2 .header_menu .header_menu2 .header_buscador form .header_buscador_button {
          width: 14%; }
      .header2 .header_menu .header_menu2 .header_redes {
        display: flex;
        justify-content: end;
        width: 40%;
        padding: 0%; }
        .header2 .header_menu .header_menu2 .header_redes a {
          padding: 0%;
          width: 100%; }
      .header2 .header_menu .encabezado_nav .encabezado_nav_items li .encabezado_nav_items_boton {
        font-size: 9px; }
  .servicios_section_descripcion {
    grid-area: servicios_section_descripcion; }
    .servicios_section_descripcion h2 {
      width: 100%;
      height: 60px;
      padding: 0%;
      text-align: center; }
    .servicios_section_descripcion p {
      height: 280px;
      text-align: center;
      font-size: 65%;
      padding: 0% 15%; }
  .servicios_section_video {
    grid-area: servicios_section_video;
    display: flex;
    justify-content: center;
    height: 90%;
    padding: 0% 10%; }
    .servicios_section_video iframe {
      width: 80%;
      height: 100%; }
  .footer2 {
    grid-area: footer2;
    padding: 20px 0px; }
    .footer2 div #logo_lenguajes img {
      height: 40%; }
    .footer2 div h5 {
      font-size: 11px; }
    .footer2 div a img {
      width: 20px; }
    .footer2 div p {
      font-size: 11px; }
  /*NOSOTROS*/
  .nosotros_sobre-texto p {
    font-size: 15px; }
  .nosotros_sobre_imagen {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1% 10% !important; }
    .nosotros_sobre_imagen img {
      box-shadow: 0px 10px 20px black; }
  .nosotros_donde_estamos_mapa iframe {
    width: 90%; }
  /*Preguntas frecuentes*/
  .preguntas_frecuentes ul {
    padding-left: 0px; }
  .preguntas_frecuentes_titulo, .preguntas_frecuentes_pregunta,
  .preguntas_frecuentes_respuesta {
    text-align: center; }
  /*CONTATO*/
  #checkbox input {
    width: 25px;
    height: 25px; }
  [for="gender"] {
    font-size: 10px; }
  /*Footer*/
  .footer .row div {
    margin-top: 15px; }
    .footer .row div h5, .footer .row div p {
      font-size: 15px; }
    .footer .row div .browsers a img, .footer .row div .footer_contacto a img {
      width: 30px; }
    .footer .row div #logo_lenguajes img {
      width: 80%; } }
