$estilos:(
    colorLetra: blanchedalmond,
    tamanioLetra: 17px,
    bgNegro: url(../assets/img/background.png),
    bgRojo: url(../assets/img/background_encabezado.png),
    tipoLetra:  'Lobster'
); 