
@media screen and (min-width: 850px) and (max-width: 1000px){
    /* HEADER */

    .header_logo{
        justify-content: center;

        .logo {
            width: 100%;
            margin-right: 0%;
        }
    }

    .header_redes_icon {
        padding: 0px; 
        transition: all 1s;

        img{
            width: 40px;
        }
    }

    /* Productos */

    .productos {
        padding: 1% 2.5%;
    }

    /*SERVICIOS*/
  .header2 {
    .header_logo .logo {
      width: 99%;
    }

    .header_redes {
      padding: 1% 0% 0% 15%;
    }    

  }

  .servicios_section_descripcion p {
    font-size: 13px;
    padding: 1% 4% 10% 20%;
  }

  .servicios_section_video iframe {
    width: 100%;
    height: 70%;
  }

  .footer2{   
    div{
      h5{
        font-size: 16px;
      }
  
      #logo_lenguajes img{
      height: 59%;
      } 
  
      a img {
        width: 37px;
      }
    }
  }  
    /*NOSOTROS*/

    .nosotros_sobre-texto p {
        font-size: 15px;            
    }

    .nosotros_sobre_imagen {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 1% 10% !important;

      img {
        box-shadow: 0px 10px 20px black;
      }
    }
}   