@media only screen and (max-width: 575px) {
       /* HEADER */
       .header_redes_icon {
        padding: 0px; 
        transition: all 1s;

        img{
            width: 30px;
        }
    }

    .header_logo{
        justify-content: center;
        padding: 0px;

        p {
            font-size: 12px;
        }

        img {
            height: 70px;
            width: 55%;
        }

        .logo {
            width: 100%!important;
            margin-right: 0%;
        }
    }

    .menu {
        padding: 1% 0% 0% 0%;

        .header_buscador_text {
            width: 70%;
        }

        .header_redes_icon {
            padding: 0px; 
            transition: all 1s;
    
            img{
                width: 100%;
            }
        }

        .navbar {
            display: flex;
            justify-content: end;
            width: 90%;
            height: 70%;

            .navbar-toggler{
                background-color: blanchedalmond;
            }
        }

        .navbar-light .navbar-nav .nav-link {
          display: flex;
          justify-content: end;
        }
    }

    /*PRODUCTOS*/
    .productos {
        padding: 1% 2.5%;

        .productos_item {
            width: 60%;
            margin: 5% auto; 
            
            .productos_item_texto{
                font-size: 15px;
            }
        }
    }
    main h1{
        font-size: 43px;
    }



   /*SERVICIOS*/

   .conteiner_servicios{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 120px 350px 200px 200px;
        grid-auto-flow: row;
        grid-template-areas:"header2"
                            "servicios_section_descripcion"
                            "servicios_section_video"
                            "footer2";
        width: 100%;
        min-height: 100vh;  
    }

   .header2{
     grid-area: header2;
    .header_logo{
      width: 20%;
      justify-content: center;

      .logo {
        width: 99%; 
        padding-top: 15px ;
        
        img{
            width: 50px;
            height: 40px;    
        }

        p {
            padding-top: 7px;
            width: 100%;
            font-size: 10px;
          }
      } 

      
    } 
    
    .header_menu{
      width: 80%;

      .header_menu2{
        .header_buscador{
          width: 60%;
          
          form{
            .header_buscador_text{
              width: 70%;
            }
  
            .header_buscador_button{
              width: 14%;
            }
          }
          
        }

        .header_redes {
          display: flex;
          justify-content: end;
          width: 40%;
          padding: 0%;

          a {
            padding: 0%;
            width: 100%;
          } 
        }
      }
      .encabezado_nav .encabezado_nav_items li .encabezado_nav_items_boton {
        font-size: 9px;
      }
    }
  }  
    
  .servicios_section_descripcion{
    grid-area: servicios_section_descripcion;
    h2 {
      width: 100%;
      height: 60px;
      padding: 0%;
      text-align: center;
    }

    p {
      height: 280px;
      text-align: center;
      font-size: 65%;
      padding: 0% 15%;
    }
  } 

  .servicios_section_video{
    grid-area: servicios_section_video;
    display: flex;
    justify-content: center;
    height: 90%;
    padding: 0% 10%;

    iframe {
    width: 80%;
    height: 100%;
    }
  }

  .footer2 {
    grid-area: footer2;
    padding: 20px 0px;

    div{
      #logo_lenguajes img{
        height: 40%;
      }
      
      h5{
        font-size: 11px;
      }
    
      a img {
        width: 20px;
      }
    
      p{
        font-size: 11px;
      }
    }
  }
    
    /*NOSOTROS*/

    .nosotros_sobre-texto p {
        font-size: 15px;            
    }

    .nosotros_sobre_imagen {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 1% 10% !important;

        img {
            box-shadow: 0px 10px 20px black;
        }
    }

    .nosotros_donde_estamos_mapa iframe {
        width: 90%;
    }

    /*Preguntas frecuentes*/

    .preguntas_frecuentes ul{
        padding-left: 0px;
    }

    .preguntas_frecuentes_titulo, .preguntas_frecuentes_pregunta,
    .preguntas_frecuentes_respuesta{
        text-align: center;
    }

    /*CONTATO*/

    #checkbox input{
        width: 25px;
        height: 25px;
    }

    [for="gender"]{
        font-size: 10px;
    }
    
    /*Footer*/

    .footer .row div{
        margin-top: 15px;

        h5,p{
            font-size: 15px;
        }

        .browsers a img{
            width: 30px;
        }

        #logo_lenguajes img{
            width: 80%;
        }
    }    
}