/*----------------------------------- RESPONSIVE DESIGN-------------------------*/

@media screen and (min-width: 1001px) and (max-width: 1250px){

    /* HEADER */

    .header_redes_icon {
        padding: 0px; 
        transition: all 1s;
    }
  /*SERVICIOS*/
  .header2{
    .header_logo .logo {
      width: 90%;
    }
    
    .header_redes {
      padding: 1% 0% 0% 15%;
    }   
  }  

  .servicios_section_descripcion p {
    font-size: 13px;
    padding: 1% 4% 10% 20%;
  }

  .servicios_section_video iframe {
    width: 100%;
    height: 70%;
  }
    
    /*NOSOTROS*/
    .nosotros_sobre-texto p {
        font-size: 15px;            
    }

    
}