/*------------------------ CONTACTO ------------------------------ */


.contacto{
    display: flex;
    justify-content: center;

    .contacto_formulario{
        width: 50%;
    
        div{
            margin-top: 10px;
            
    
            label{
                display: block;
                font-size: 23px;   
            }

            input{
                width: 100%;
            }

            textarea{
                @include sizes(100%,90px);
                color: black;
            }

            [type="radio"] {
                @include sizes(5%,20px);
                margin-left: 20px;
            }

            [for="gender"]{
                display: inline;
            }
        }

        #checkbox input{
            @include sizes(5%,20px);
            margin-top: 6px;  
            cursor: pointer;
        }

        [type="submit"]{
            color: black;
            @include sizes(100%,30px);
            margin-top: 6px;
            cursor: pointer;
        }
    }
}
