/*------------------------ NOSOTROS ------------------------------ */

.nosotros {
    h3 {
    font-size: 40px;
    margin-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    text-shadow: 3px 7px 15px black;
    }

    .nosotros_sobre-texto {
        padding: 1% 7%;
        text-align: justify;
    }

    .nosotros_sobre_imagen {
        padding: 1% 8% 2% 1%;

        img {
            @include sizes(100%,100%);
            box-shadow: 0px 10px 20px black;
        }
    }
}

.nosotros_donde_estamos P{
    text-align: justify;
    width: 500px;
    margin: 40px 50px 7px 100px;
    font-size: 23px;
}

.nosotros_donde_estamos_mapa iframe{
    display: block;
    margin: 20px auto; 
    box-shadow: 0px 10px 20px black;   
}

.nosotros_donde_estamos_dir{
    display: block;
    text-align: center;
    margin: 20px auto; 
}