/*------------------------ SERVICIOS ------------------------------ */

.servicios_section_descripcion{
    padding: 0% 5%;

    h2 {
        font-size: 40px;
        padding: 5% 5% 1% 0%;
        text-shadow: 3px 7px 15px black;
    }

    p {
        text-align: justify;
    }
    
}

.servicios_section_video{
    @include sizes(100%,90%);
    margin-top: 5%;

    iframe {
        @include sizes(80%,90%);
        box-shadow: 0px 10px 20px black;
    }
}