<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="KEYWORDS" content="react computacion tecnologia computacion computadora reparacion pc perisfericos teclado led auriculares argentina ">
    <meta name="DESCRIPTION" content="Brindamos un Servicio de Soporte profesional con el mayor estándar de Calidad. Ofrecemos Soluciones Tecnológicas a medida para empresas">
    <title>Nosotros - React Computación</title>
    <link rel="icon" type="image/x-icon" href="https://icongr.am/devicon/react-original.svg?size=128&color=currentColor">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>      
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <!--CDN CSS BOOTSTRAP-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" 
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <!--MI CSS-->
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
<!--INICIO DE HEADER-->
    <header class="container-fluid">
       <div class="row">   
            <!--INICIO DE LOGO-->     
            <div class="header_logo col-lg-2 col-md-2 col-3 h-100 p-0"> 
                <div class="logo w-50 m-0">
                    <a href="../index.html">
                        <img src="https://icongr.am/devicon/react-original.svg?size=128&color=currentColor" alt="Logo Pagina">
                        <p>REACT COMPUTACION</p>
                    </a>
                </div>
            </div> 
            <!--FIN DE LOGO-->       
            <div class="menu col-lg-10 col-md-10 col-9">
                <div class="col-lg-12 col-md-12 col-12 d-flex p-0">
                    <!--INICIO DE BUSCADOR-->      
                    <div class="col-lg-8 col-md-8 col-7 h-100 p-0 m-0 d-flex">
                        <input type="text" class="header_buscador_text form-control" placeholder="Buscador" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="header_buscador_button btn btn-outline-secondary" value="L" type="button" id="button-addon2">L</button>
                        </div>
                    </div>
                    <!--FIN DE BUSCADOR-->
                    <!--INICIO DE REDES SOCIALES-->      
                    <div class="header_redes col-lg-4 col-5 h-100 d-flex p-0 ">
                        <a href="https://web.whatsapp.com/" target="_blank" class="header_redes_icon" ><img src="../assets/img/whatsapp.png" alt="Whats app"></a>
                        <a href="https://twitter.com/" target="_blank" class="header_redes_icon" ><img src="../assets/img/twitter.png" alt="Twitter"></a>
                        <a href="https://www.instagram.com/" target="_blank" class="header_redes_icon"><img src="../assets/img/instagram.png" alt="Instagram"></a>
                        <a href="https://www.facebook.com/" target="_blank"class="header_redes_icon" ><img src="../assets/img/facebook.png" alt="Facebook"></a>
                    </div>
                    <!--FIN DE REDES SOCIALES-->   
                </div>
                <!--INICIO DE NAV--> 
                <nav class="navbar navbar-expand-lg navbar-expand-md navbar-light col-lg-12 col-md-12 col-12 h-70 p-0">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class=" nav_li nav-item">
                                    <a class="nav-link" href="../index.html">INICIO</a>
                                </li>
                                <li class="nav_li nav-item">
                                <a class="nav-link" href="productos.html">PRODUCTOS</a>
                                </li>
                                <li class="nav_li nav-item">
                                <a class="nav-link" href="servicios.html">SERVICIOS</a>
                                </li>
                                <li class="nav_li nav-item">
                                    <a class="nav-link" href="nosotros.html">NOSOTROS</a>
                                </li>
                                <li class="nav_li nav-item">
                                    <a class="nav-link" href="preguntasFrecuentes.html">PREGUNTAS FRECUENTES</a>
                                </li>
                            </ul>
                        </div>
                </nav> 
                <!--FIN DE NAV-->                    
            </div>     
        </div>
    </header>
<!--FIN DE HEADER-->
    <!-- INICIO DEL CONTENIDO-->
    <main class="nosotros container-fluid">
        <div class="row">      
            <!--TITULO-->   
            <div class="col-lg-12">
                <h3>SOBRE NOSOTROS</h3>
            </div>
            <!--DESCRIPCION DE NOSOTROS-->
            <div class="nosotros_sobre-texto col-lg-6">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis aliquid iusto placeat voluptas ratione odit,
                eveniet dicta et quia neque aut dignissimos possimus? Voluptate asperiores, aliquam veniam nihil inventore animi.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis aliquid iusto placeat voluptas ratione odit,
                eveniet dicta et quia neque aut dignissimos possimus? Voluptate asperiores, aliquam veniam nihil inventore animi.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae distinctio veritatis beatae reprehenderit 
                voluptatibus aliquam ab, quam illum autem obcaecati nesciunt ad quisquam ut numquam praesentium? Quia quas expedita ducimus.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae distinctio veritatis beatae reprehenderit 
                voluptatibus aliquam ab, quam illum autem obcaecati nesciunt ad quisquam ut numquam praesentium? Quia quas expedita ducimus.
                </p>
            </div>
            <!--FOTO DE NOSOTROS-->
            <div class="nosotros_sobre_imagen col-lg-6">
                <img src="../assets/img/arreglandoPc.jpg" alt="Arreglando PC">
            </div> 
            <!--TITULO-->
            <div class="col-lg-12">
                <h3>¿DONDE ESTAMOS?</h3>
            </div>
            <!--UBICACION DE DONDE ESTAMOS-->
            <div class="nosotros_donde_estamos_mapa col-lg-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6562.967616117329!2d-58.368219!3d-34.667737!3m2
                !1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe771f022c22a954b!2sEstadio%20Presidente%20Per%C3%B3n!5e0!3m2!1ses-419!2sar!4v16
                43160000874!5m2!1ses-419!2sar" width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <!--DIRECCION-->
            <div class="nosotros_donde_estamos_dir col-lg-12">
                <p>Direccion: Diego A. Milito, B1870 Avellaneda, Provincia de Buenos Aires.<br>
                    Telefono: 91 642 32 16<br>
                    Fax: 91 642 32 47            
                </p>
            </div>
                
              
        </div>
    </main>
    <!-- CIERRE DEL CONTENIDO-->
    <!--INICIO DE FOOTER-->
    <footer class=" footer container-fluid">
        <div class="row">
            
            <div class="col-lg-3 col-md-6 col-6">
                <a  class="footer_contacto" href="contacto.html">CONTACTO</a>
            </div>

            <div class="col-lg-3 col-md-6 col-6"">
                <h5>DESARROLLADO CON</h5>
                <div id="logo_lenguajes">
                    <img src="../assets/img/html5-css.png" alt="Creado con html y Css">
                </div>   
            </div> 
            <!--NAVEGADORES-->
            <div class="col-lg-3 col-md-6 col-6"">
                <h5>OPTIMISADO PARA</h5>
                <div class="browsers">
                    <a href="#">
                        <img src="../assets/img/firefox-icon.png" alt="firefox" title="Firefox">
                    </a>
                    <a href="#">
                        <img src="../assets/img/chrome.png" alt="chrome" title="Chrome">
                    </a>
                    <a href="#">
                        <img src="../assets/img/safari.png" alt="safari" title="Safari">
                    </a>
                    <a href="#">
                        <img src="../assets/img/Opera_256x256.png" alt="opera" title="opera">
                    </a>
                    <a href="#">
                        <img src="../assets/img/android.png" alt="android" title="android">
                    </a>
                </div>
            </div> 
            <!--AUTOR-->
            <div class="col-lg-3 col-md-6 col-6"">
                <h5>AUTOR</h5>
                <p> Copyright © Martin, Juan Ignacio</p>
            </div>
        </div>
    </footer>
       <!-- FIN DE FOOTER-->

    <!-- JS BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" 
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>