<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="KEYWORDS" content="react computacion tecnologia computacion computadora reparacion pc perisfericos teclado led auriculares argentina ">
    <meta name="DESCRIPTION" content="Nos encargamos del soporte informático con alta vocación de servicio al cliente. Servicio de Asistencia profesional con la mayor Calidad">
    <title>Servicios | React Computación</title>
    <link rel="icon" type="image/x-icon" href="https://icongr.am/devicon/react-original.svg?size=128&color=currentColor">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>      
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <!--MI CSS-->
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body class="conteiner_servicios">
<!--INICIO DE HEADER-->
    <header class="header2"> 
        <!--INICIO DE LOGO-->     
        <div class="header_logo"> 
            <div class="logo">
                <a href="../index.html">
                    <img src="https://icongr.am/devicon/react-original.svg?size=128&color=currentColor" alt="Logo Pagina">
                    <p>REACT COMPUTACION</p>
                </a>
            </div>
        </div> 
        <!--FIN DE LOGO-->   
        <div class="header_menu">
            <div class="header_menu2">
                <!--INICIO DE BUSCADOR-->      
                <div class="header_buscador">
                    <form>
                        <input type="text" placeholder="Buscador" class="header_buscador_text">
                        <input type="button" value="L" class="header_buscador_button">
                    </form>
                </div>
                <!--FIN DE BUSCADOR-->
                <!--INICIO DE REDES SOCIALES-->      
                <div class="header_redes">
                    <a href="https://web.whatsapp.com/" target="_blank" class="header_redes_icon" ><img src="../assets/img/whatsapp.png" alt="Whats app"></a>
                    <a href="https://twitter.com/" target="_blank" class="header_redes_icon" ><img src="../assets/img/twitter.png" alt="Twitter"></a>
                    <a href="https://www.instagram.com/" target="_blank" class="header_redes_icon"><img src="../assets/img/instagram.png" alt="Instagram"></a>
                    <a href="https://www.facebook.com/" target="_blank"class="header_redes_icon" ><img src="../assets/img/facebook.png" alt="Facebook"></a>
                </div>
                <!--FIN DE REDES SOCIALES-->   
            </div>
            <!--INICIO DE NAV--> 
            <nav class="encabezado_nav">
                <ul class="encabezado_nav_items">
                    <li ><a href="../index.html" class="encabezado_nav_items_boton">INICIO</a></li>
                    <li ><a href="productos.html"class="encabezado_nav_items_boton">PRODUCTOS</a></li>
                    <li ><a href="servicios.html"class="encabezado_nav_items_boton">SERVICIOS</a></li>
                    <li ><a href="nosotros.html"class="encabezado_nav_items_boton">NOSOTROS</a></li>
                    <li ><a href="preguntasFrecuentes.html"class="encabezado_nav_items_boton">PREGUNTAS FRECUENTES</a></li>
                </ul>
            </nav>
            <!--FIN DE NAV-->  
        </div>                           
    </header>
<!--FIN DE HEADER-->
        <!-- INICIO DEL CONTENIDO-->
        <div class="servicios_section_descripcion">
            <!--TITULO-->
            <h2>SERVICIOS</h2>
            <!--DESCRIPCION DEL SERVICIO-->
            <p> Las computadoras son de gran importancia para llevar a cabo los objetivos de su empresa.
                Ya sea para tareas internas, brindar un servicio, gestionar la producción y mantener a
                las distintas áreas conectadas, la plataforma informática es imprescindible en el día
                a día. Nuestro servicio de mantenimiento de computadoras está diseñado para brindarle
                un auténtico soporte y para que usted no tenga que preocuparse sobre el funcionamiento
                de los equipos.<br>
                Contamos con más de dos décadas de experiencia brindando mantenimiento de PC para empresas y PyMEs.
                Brindamos mantenimiento de PC desde nuestra casa central en Capital Federal, Moron, 
                Lomas de Zamora y San Martín para toda la capital Federal y Buenos Aires. Algunas 
                de las localidades son Tortuguitas, Garin, Adrogue, Lanus, Moron, Haedo, Moreno, 
                Loma Hermosa, Ituzaingo, Boulogne, Olivos, Martinez, San Fernando, Tigre, Beccar, 
                Temperley, Turdera y más.<br>
            </p>                        
        </div>           
        <!--VIDEO MOSTRANDO SERVICIO-->
        <div class="servicios_section_video">
            <iframe  src="https://www.youtube.com/embed/_sVbl1OG2Co" title="YouTube video player" 
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe> 
        </div>  
    <!-- CIERRE DEL CONTENIDO-->       
   
    <!--INICIO DE FOOTER-->
    <footer class="footer2">            
        <div>
            <a class="footer_contacto" href="contacto.html">CONTACTO</a>
        </div>

        <div>
            <h5>DESARROLLADO CON</h5>
            <div id="logo_lenguajes">
                <img src="../assets/img/html5-css.png" alt="Creado con html y Css">
            </div>   
        </div> 
        <!--NAVEGADORES-->
        <div>
            <h5>OPTIMISADO PARA</h5>
            <div class="browsers">
                <a href="#">
                    <img src="../assets/img/firefox-icon.png" alt="firefox" title="Firefox">
                </a>
                <a href="#">
                    <img src="../assets/img/chrome.png" alt="chrome" title="Chrome">
                </a>
                <a href="#">
                    <img src="../assets/img/safari.png" alt="safari" title="Safari">
                </a>
                <a href="#">
                    <img src="../assets/img/Opera_256x256.png" alt="opera" title="opera">
                </a>
                <a href="#">
                    <img src="../assets/img/android.png" alt="android" title="android">
                </a>
            </div>
        </div> 
        <!--AUTOR-->
        <div>
            <h5>AUTOR</h5>
            <p> Copyright © Martin, Juan Ignacio</p>
        </div>
    </footer>
       <!-- FIN DE FOOTER-->
</body>
</html>